<footer>
  <div class="container">
    <a class="footer-logo" href="#">
      <svg class="footer-logo-icon" width="123" height="16">
        <use href="./src/img/icons.svg#footer-logo"></use>
      </svg>
    </a>
    <address class="footer-address">
      <ul class="footer-address-list">
        <li>
          <a class="footer-address-item" href="tel:UK:+380665438912"
            >UK: +38 066 543 8912</a
          >
        </li>
        <li><p class="footer-address-item">Ukraine, Kyiv</p></li>
      </ul>
    </address>
    <ul class="footer-social">
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank"
          >Facebook</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank">Youtube</a>
      </li>
    </ul>
    <ul class="footer-section">
      <li><a href="#">About us</a></li>
      <li><a href="#">Our courses</a></li>
      <li><a href="#">Our mentors</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a href="#">contacts</a></li>
    </ul>
    <form class="footer-form">
      <label class="footer-email" for="email-footer">
        <input
          class="footer-input"
          name="user-name"
          type="email"
          id="email-footer"
          placeholder="Enter your email"
        />
      </label>
      <button class="footer-button" type="submit">Go</button>
    </form>
    <ul class="footer-privacy">
      <li><p>Privacy Policy</p></li>
      <li><p>Public Offering Agreement</p></li>
    </ul>
    <ul class="footer-focus">
      <li><p>2023 Focus Frame</p></li>
      <li><p>© All rights reserved</p></li>
    </ul>
  </div>
</footer>
