<header class="header">
    <div class="container header-inner">
            <nav class="header-nav">
                <a class="header-nav-logo" href="./index.html">Focus.Frame</a>
                <ul class="header-nav-list">
                    <li>
                        <a class="header-nav-link" href="./index.html">About us</a>
                    </li>
                    <li>
                        <a class="header-nav-link" href="./index.html">Our courses</a>
                    </li>
                    <li>
                        <a class="header-nav-link" href="./index.html">Our mentors</a>
                    </li>
                    <li>
                        <a class="header-nav-link" href="./index.html">Reviews</a>
                    </li>
                    <li>
                        <a class="header-nav-link" href="./index.html">Contacts</a>
                    </li>
                </ul>

                <div class="header-menu">
                    <svg class="header-menu-camera-icon" width="32" height="32">
                            <use href="./images/icons.svg#icon-camera"></use>
                    </svg>
                    <button class="header-menu-toggle">
                        <svg class="header-menu-toggle-icon" width="32" height="22">
                            <use href="./images/icons.svg#icon-close"></use>
                        </svg>
                    </button>
                </div> 
            </nav>
            <div class="header-button">
                <button class="header-button-singup" type="submit" name="sing-up">Sign up</button>
            </div>
    </div>


<!-- Mobile-menu -->
<div class="mobile-menu-container">
    <button class="mobile-menu-button" type="button">
        <svg class="mobile-menu-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-close"></use>
        </svg>
    </button>
    <ul class="mobile-menu-list">
        <li>
            <a class="mobile-menu-link" href="./index.html">About us</a>
        </liclass=>
        <li>
            <a class="mobile-menu-link" href="./index.html">Our courses</a>
        </liclass=>
        <li>
            <a class="mobile-menu-link" href="./index.html">Our mentors</a>
        </liclass=>
        <li>
            <a class="mobile-menu-link" href="./index.html">Reviews</a>
        </liclass=>
        <li>
            <a class="mobile-menu-link" href="./index.html">Contacts</a>
        </li>
    </ul>
    <picture class="mobile-menu-picture">

    </picture>
