<section class="hero-section">
    <div class="container">
        <div class="hero-inner">
        <div class="hero-input">
            <h1 class="hero-text">Discover the magic of <span class="hero-text-inner">photography</span> in our school</h1>
        </div>
        <div class="hero-paragraf">
            <p class="paragraf-hero-inner">Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.</p>
            </div>
        <div class="hero-wrap">
                <div class="wrap-image">
                    <img class="image"
                    srcset=""
                    src=""
                    alt=""
                    width=""
                    />
                </div>
                <div class="wrap-div-hero">
                    <a class="hero-link-students" 
                        href="">Our happy students</a>
                    <svg class="hero-svg-input" 
                        width="" height="">
                        <use href=""></use>
                    </svg>
                </div>
            <div class="hero-block">
                <div class="hero-block-wrap">
                    <svg class="svg-input-block" 
                        width="" heignt="">
                        <use href=""></use>
                    </svg>
                </div>
                <div class="hero-block-input">
                    <ul class="hero-tabl">
                        <li class="hero-text-wrap">
                            <h2 class="hero-text-info">Reviews</h2>
                        </li>
                        <li class="hero-text-input">
                            <p class="paragraf-info-wrap">+1500</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>