<!-- Modal -->
<div class="backdrop is-hidden">
  <div class="header-modal">
    <button class="header-modal-close" type="button">
      <svg class="header-modal-icon" width="32" height="32">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="header-modal-container">
      <ul class="header-modal-list">
        <li>
          <a class="header-modal-link" id="#about" href="#about">About us</a>
        </li>
        <li>
          <a class="header-modal-link" id="#courses" href="#courses"
            >Our courses</a
          >
        </li>
        <li>
          <a class="header-modal-link" id="#mentors" href="#mentors"
            >Our mentors</a
          >
        </li>
        <li>
          <a class="header-modal-link" id="#reviews" href="#reviews">Reviews</a>
        </li>
        <li>
          <a class="header-modal-link" id="#contacts" href="#contacts"
            >Contacts</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
