<section class="our-mentors-section">
  <h2 class="our-mentors-tittle">
    Our <span class="our-mentors-tittle-accent">Mentors</span>
  </h2>
  <div class="our-mentors-list">
    <div class="our-mentors-item">
      <img class="our-mentors-member-photo" src="" alt="" />
      <h3 class="our-mentors-member-name">Emilia Smith</h3>
      <p class="our-mentors-member-experience">1.5 years of experience</p>
    </div>
    <div class="our-mentors-item">
      <img class="our-mentors-member-photo" src="" alt="" />
      <h3 class="our-mentors-member-name">Alex Lebedev</h3>
      <p class="our-mentors-member-experience">3.5 years of experience</p>
    </div>
    <div class="our-mentors-item">
      <img class="our-mentors-member-photo" src="" alt="" />
      <h3 class="our-mentors-member-name">Mia Dubrovska</h3>
      <p class="our-mentors-member-experience">2.0 years of experience</p>
    </div>
    <div class="our-mentors-item">
      <img class="our-mentors-member-photo" src="" alt="" />
      <h3 class="our-mentors-member-name">Eliot Kovalev</h3>
      <p class="our-mentors-member-experience">4.0 years of experience</p>
    </div>
  </div>
</section>
