<section class="our-mentors-section">
  <div class="container">
    <h2 class="our-mentors-title">
      Our<span class="our-mentors-title-accent">Mentors</span>
    </h2>
    <ul class="our-mentors-member-list">
      <li class="our-mentors-member-item">
        <img class="our-mentors-member-photo" src="" alt="" />
        <div class="our-mentors-member-info">
          <h3 class="our-mentors-member-name">Emilia Smith</h3>
          <p class="our-mentors-member-experience">1.5 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-member-item">
        <img class="our-mentors-member-photo" src="" alt="" />
        <div class="our-mentors-member-info">
          <h3 class="our-mentors-member-name">Alex Lebedev</h3>
          <p class="our-mentors-member-experience">3.5 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-member-item">
        <img class="our-mentors-member-photo" src="" alt="" />
        <div class="our-mentors-member-info">
          <h3 class="our-mentors-member-name">Mia Dubrovska</h3>
          <p class="our-mentors-member-experience">2.0 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-member-item">
        <img class="our-mentors-member-photo" src="" alt="" />
        <div class="our-mentors-member-info">
          <h3 class="our-mentors-member-name">Eliot Kovalev</h3>
          <p class="our-mentors-member-experience">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
