@media (min-width: 320px) and (max-width: 375px) {
    .footer {
            padding-top: 40px;
            padding-left: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            background-position: center;
            background-image: url(../img/footer-img/bg-lines_mob.png);
            background-size: cover;
    
        }

        .footer-logo {
            margin-bottom: 40px;
        }

        .footer-logo-icon {
            fill: #ffffff;
            margin-bottom: 16px;
        }

        .footer-address-item {
            font-size: 14px;
            font-style: normal;
            line-height: 1.28;
        }

        .footer-social {
            display: flex;
            flex-direction: column;
            gap: 14px;
            text-transform: uppercase;
            font-size: 14px;
            line-height: normal;
            font-weight: 400;
        }

        .footer-section {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

        .footer-links {
            font-size: 14px;
            line-height: normal;
            text-transform: uppercase;
            font-weight: 400;
        }

        .footer-media {
            display: flex;
            gap: 40px;
            margin-bottom: 75px;
        }

        .footer-form {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
        }

        .footer-input {
            padding: 20px 0 22px 18px;
            margin-right: 8px;
            border-radius: 12px;
            border: none;
            width: 267px;
            height: 60px;
        }

        .footer-button {
            border-radius: 12px;
            background-color: #1D1D1D;
            font-size: 20px;
            color: #ffffff;
            width: 60px;
            height: 60px;
            border: none;
        }

        .footer-privacy-policy {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .footer-privacy-policy-text {
            font-size: 12px;
            line-height: 1.33;
        }

        .footer-privacy-text {
           max-width: 116px; 
        }
}



