@media screen and (min-width: 375px) and (max-width: 767.98px) {
    .footer {
        padding-top: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        background-image: url(../img/footer-img/bg-lines_mob@2x.png);
        background-position: center;
        background-size: cover;
    }
}

    .footer-logo {
        margin-bottom: 40px;
    }

    .footer-logo-icon {
        fill: #fff;
        margin-bottom: 16px;
    }

    .footer-address-item {
        font-size: 14px;
        line-height: 1.28;
        font-style: normal;
        font-weight: 400;
    }

    .footer-address-tel {
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .footer-media {
        display: flex;
        gap: 40px;
        margin-bottom: 75px;
    }

    .footer-social {
        display: inline-flex;
        flex-direction: column;
        gap: 14px;
        font-weight: 400;
    }

    .footer-social-item {
        font-size: 14px;
        line-height: 1.28;
        text-transform: uppercase;
    }

    .footer-section {
        display: inline-flex;
        flex-direction: column;
        gap: 14px;
        font-weight: 400;
    }

    .footer-links {
        font-size: 14px;
        line-height: 1.28;
        text-transform: uppercase;
        gap: 14px;
    }

    .footer-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .footer-input {
        padding: 20px 0 22px 18px;
        border: none;
        width: 100%;
        height: 60px;
        outline: none;
        margin-right: 8px;
        border-radius: 12px;
    }

    .footer-button {
        width: 60px;
        height: 60px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
        border-radius: 12px;
        background-color: #1d1d1d;
        color: #fff;
        border: none;
        flex-shrink: 0
    }

    .footer-privacy-policy-text {
        font-size: 12px;
        line-height: 1.33;
        font-weight: 400;
    }

    .footer-privacy-policy {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .footer-privacy-text {
        max-width: 116px;
    }
@media screen and (min-width: 768px) and (max-width:1279.9px) {
    .footer {
        padding-top: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        background-image: url(../img/footer-img/bg-lines_tablet@2x.png);
        background-position: center;
        background-size: cover;
    }

    .footer-logo,
    .footer-media,
    .footer-form {
        margin-bottom: 0;
    }

    .footer-logo {
        margin-right: 58px;
        margin-right: 32px;
    }

    .footer-contents {
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
    }

    .footer-section {
        min-width: 97px;
    }

    .footer-media {
        margin-right: 61px;
    }

    .footer-privacy-policy-text {
        font-size: 14px;
        line-height: 1.2;
    }

    .footer-privacy-text {
        max-width: 134px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        margin-top: 75px;
        padding-top: 50px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        background-image: url(../img/footer-img/bg-lines_desk@2x.png);
        background-size: cover;
        background-position: center;
        align-items: baseline;
        display: flex;
    }

    .footer-logo {
        margin-right: 0;
    }

    .footer-social,
    .footer-section {
        gap: 20px;
    }

    .footer-media {
        margin-left: 285px;
        gap: 50px;
    }

    .footer-contents {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
    }

    .footer-input {
        margin-right: 16px;
        max-width: 216px;
    }

    .footer-privacy-policy-text {
        font-size: 14px;
        line-height: 1.2;
    }

    .footer-privacy-text {
        max-width: 134px;
    }

}