body {
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  background-color: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 75px 0;
}

/* Media */
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .container {
    max-width: 375px;
    padding: 0 20px;

    outline: 2px solid red;
    outline-offset: -2px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1287.98px) {
  .container {
    max-width: 768px;
    padding: 0 32px;

    outline: 2px solid green;
    outline-offset: -2px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;

    outline: 2px solid orange;
    outline-offset: -2px;
  }
}
/**
 |============================
 | Header
 |============================
*/

/* Mobile Screen */
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .header-inner {
    display: flex;
    flex-direction: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-logo {
    margin-bottom: 0;
  }
  .header-logo-icon {
    width: 127px;
    height: 20px;
  }
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .header-menu-camera {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    border: none;
    border-radius: 50%;
  }
  .header-menu-camera-icon {
    fill: #bea69e40;
  }
  .header-menu-camera-icon:hover {
    fill: #bea69e;
  }
  .header-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .header-menu-toggle-icon {
    fill: #fff;
  }
  .header-button-singup {
    display: none;
  }
}
/* Tablet Screen */
@media screen and (min-width: 768px) and (max-width: 1287.98px) {
  .header-inner {
    display: flex;
    flex-direction: center;
    gap: 14px;
    width: 768px;
    height: 60px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-right: auto;
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-nav-list {
    display: none;
  }
  .header-menu-camera {
    display: none;
  }
  .header-button-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 60px;
    padding: 16px 58px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    font-family: inherit;
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
  }
  .header-button-singup:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
  .header-menu-toggle {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 28px;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1280px) {
  .header-inner {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 80px;
    position: relative;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 822px;
    padding: 0 50px;
    /* margin: 0 auto; */
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-nav-list {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
  }
  .header-nav-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .header-nav-link:hover {
    color: #bea69e;
  }

  .header-menu-toggle {
    display: none;
  }
  .header-button-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 60px;
    padding: 16px 58px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    font-family: inherit;
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
  }
  .header-button-singup:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
}
@media only screen and (max-width: 767.98px) {
  .header-nav-list {
    display: none;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}
/**
 |============================
 | Mobile Menu Styles
 |============================
*/
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .mobile-menu-container {
    position: fixed;
    position: absolute;
    top: 0;
    right: 0;

    padding: 20px;
    width: 218px;
    min-height: 812px;

    background-color: #bea69e;
    transform: translateY(100%);
  }
  .mobile-menu-inner {
    /* transform: scale(1);
    display: flex;
     justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;*/
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
  }

  .mobile-menu-link {
  }
  .mobile-menu-image-mobile,
  .mobile-menu-image-tablet {
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightgray;
    background-image: url(../img/header-img/cam_mob.jpg) no-repeat;
    transform: rotate(-90deg);
  }

  .mobile-menu-icon {
  }
  .mobile-menu-list {
    margin-bottom: auto;
  }

  .mobile-menu-link {
    color: #121212;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .mobile-menu-link:hover {
    font-weight: 700;
  }
}
