/* Header */

/* Mobile Screen */
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .header-inner {
    display: flex;
    flex-direction: center;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-logo {
    margin-bottom: 0;
  }
  .header-logo-icon {
    width: 127px;
    height: 20px;
  }
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .header-menu-camera {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    border: none;
    border-radius: 50%;
  }
  .header-menu-camera-icon {
    fill: #bea69e40;
  }
  .header-menu-camera-icon:hover {
    fill: #bea69e;
  }
  .header-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .header-menu-toggle-icon {
    fill: #fff;
  }
  .header-button-singup {
    display: none;
  }
  .header-nav-list {
    display: none;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}
/* Tablet Screen */
@media screen and (min-width: 768px) and (max-width: 1287.98px) {
  .header-inner {
    display: flex;
    flex-direction: center;
    gap: 14px;
    width: 768px;
    height: 60px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-right: auto;
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-nav-list {
    display: none;
  }
  .header-menu-camera {
    display: none;
  }
  .header-button-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 60px;
    padding: 16px 58px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    font-family: inherit;
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
  }
  .header-button-singup:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
  .header-menu-toggle {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 28px;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1280px) {
  .header-inner {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    /* margin-bottom: 80px; */
    position: relative;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 822px;
    padding: 0 50px;
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-nav-list {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
  }
  .header-nav-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .header-nav-link:hover {
    color: #bea69e;
  }
  .header-menu-camera,
  .header-menu-toggle {
    display: none;
  }
  .header-button-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 60px;
    padding: 16px 58px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    font-family: inherit;
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
  }
  .header-button-singup:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
}

/* Mobile Menu Styles */

/* Mobile Screen */
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    transition: opacity 250ms, visibility 250ms;
    justify-content: center;
    align-items: center;
  }
  .header-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 218px;
    height: 100%;
    padding: 180px 20px;
    background-color: #bea69e;
    background-image: url('./img/header-img/cam_mob.jpg');
    background-size: 218px 329px;
    background-repeat: no-repeat;
    background-position: bottom right;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 250ms;
  }

  .header-modal.is-open {
    transform: translateX(0%);
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
  }

  .header-image {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .header-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: #bea69e;
    border: none;
  }
  .header-modal-icon {
    stroke: #121212;
  }

  .header-modal-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .header-modal-link {
    color: #121212;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .header-modal-link:hover {
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) and (max-width: 1287.98px) and (min-resolution: 192dpi) {
  .header-modal {
    background-image: url('./img/header-img/cam_mob@2x.jpg');
    background-size: 218px 329px;
  }
}
/* Tablet Screen */
@media screen and (min-width: 768px) and (max-width: 1287.98px) {
  .backdrop {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    transition: opacity 250ms, visibility 250ms;
    justify-content: center;
    align-items: center;
  }
  .header-modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 480px;
    height: 100%;
    padding: 232px 64px;
    background-color: #bea69e;
    background-image: url('./img/header-img/cam_tablet.jpg');
    background-size: 480px 476px;
    background-repeat: no-repeat;
    background-position: bottom right;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 250ms;
  }
  .header-modal.is-open {
    transform: translateX(0%);
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
  }

  .header-image {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .header-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 32px;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: #bea69e;

    border: none;
  }
  .header-modal-icon {
    stroke: #121212;
  }

  .header-modal-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  .header-modal-link {
    color: #121212;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .header-modal-link:hover {
    font-weight: 700;
  }
}
@media screen and (min-width: 768px) and (max-width: 1287.98px) and (min-resolution: 192dpi) {
  .header-modal {
    background-image: url('./img/header-img/cam_tablet@2x.jpg');
    background-size: 480px 476px;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1280px) {
  .header-modal {
    display: none;
  }
}
