/* Header */

/* Mobile Screen */
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .header-inner {
    display: flex;
    flex-direction: center;
    width: 100%;
    /* height: 50px; */
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-logo {
    margin-bottom: 0;
  }
  .header-logo-icon {
    width: 127px;
    height: 20px;
  }
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
  .header-menu-camera {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    border: none;
    border-radius: 50%;
  }
  .header-menu-camera-icon {
    fill: #bea69e40;
  }
  .header-menu-camera-icon:hover {
    fill: #bea69e;
  }
  .header-menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .header-menu-toggle-icon {
    fill: #fff;
  }
  .header-button-singup {
    display: none;
  }
  .header-nav-list {
    display: none;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}
/* Tablet Screen */
@media screen and (min-width: 768px) and (max-width: 1287.98px) {
  .header {
    padding-top: 32px;
    padding-bottom: 40px;
    position: relative;
  }
  .header-inner {
    display: flex;
    flex-direction: center;
    gap: 14px;
    width: 768px;
    height: 60px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin-right: auto;
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-nav-list {
    display: none;
  }
  .header-menu-camera {
    display: none;
  }
  .header-button-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 186px;
    height: 60px;
    padding: 16px 58px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    font-family: inherit;
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
  }
  .header-button-singup:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
  .header-menu-toggle {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 28px;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1280px) {
  .header {
    padding: 20px;
  }
  .header-inner {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 60px;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 822px;
    padding: 0 50px;
    background: #121212;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header-nav-list {
    display: flex;
    gap: 28px;
    justify-content: center;
    align-items: center;
  }
  .header-nav-link {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    color: #fff;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .header-nav-link:hover {
    color: #bea69e;
  }
  .header-menu-camera,
  .header-menu-toggle {
    display: none;
  }
  .header-button-singup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 238px;
    height: 60px;
    padding: 16px 58px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
    margin: 0 auto;
    font-family: inherit;
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
  }
  .header-button-singup:hover {
    background-color: #1d1d1d;
    color: #bea69e;
  }
}

/* Header-Hero
  Background */
.wrapper {}

@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .wrapper {
    background-image: url(../img/header-hero/graphic_mob.png);
    background-position: top;
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.9px) {
  .wrapper {
    background-image: url(../img/header-hero/graphic_tab.png);
    background-position: top;
    background-size: 100%;
    margin: 0;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    background-image: url(../img/header-hero/graphic_desk.png);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0;
  }
}