.hero-section{
  width: 100%;
  margin-top: 20px;
  }
  
  .hero-inner{
  background-color: #1d1d1d;
  border-radius: 30px;
  width: 100%;
  height: 777px;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 40px;
  }
  
  .hero-input{
  margin-bottom: 20px;
  }
  
  .hero-text{
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height:1.1;
    letter-spacing: -0.03em;
  }
  
  .hero-text-inner{
    color: #BEA69E;
    font-size: 40px;
    font-weight: 400;
    line-height:1.1;
    letter-spacing: -0.04em;
    flex-wrap: wrap;
  }
  
  
  .paragraf-hero-inner{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
  
  .hero-wrap{
  display: flex;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 85px;
  }
  
  .hero-wrapper-div{
    display: flex;
    flex-direction: column;
  }

  .hero-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 109px;
  }

  .wrap-image{
  width: 109px;
  }
  
  .image{
  width: 109px;
  }
  
  .wrap-div-hero{
  flex-direction:column;
  }
  
  .hero-wrap-inner{
    display: flex;
    width: 89px;
    align-items: center;
  }

  .hero-link-students{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height:1.25;
    letter-spacing: -0.04em;
  }
  

  .hero-block{
  display: flex;
  margin-left: 40px;
  height: 44px;
  }
  
.hero-block-wrap{
  width: 44px;
  height:44px;
}

  .hero-arrow-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  fill: #1d1d1d;
  background-color:   #BEA69E;
  border-radius: 100%;
  }
  
  .hero-block-input{
  padding-left: 12px;
  }
  

  .hero-text-wrap{
    padding-bottom: 8px;
  }
  
  .hero-text-info{
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-weight: 400;
    line-height:1.25;
    letter-spacing: -0.04em;
  }

  
  .paragraf-info-wrap{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height:1.25;
    letter-spacing: -0.04em;
  }

  .hero-picture{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
   }
  .hero-photograf{
    margin-bottom: 0;
  }

.hero-wrap-photograf{
  width: 259px;
  height: 314px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.svg-input-block{
  width: 44px;
  height: 44px;
}


  @media screen and (min-width:768px) and (max-width: 1287.98px) {
  .hero-inner{
  width: 704px;
  flex-direction: column;
  padding-top: 64px;
  padding-left: 32px;
  padding-bottom: 0;
  }
        
  .hero-inner-wrapper{
    width:400px ;
  }

    .hero-wrap{
    margin-top: 40px;
    height: 95px;
    margin-bottom: 0;
    }      

.hero-wrapper-div{
  height: 54px;
  width: unset;
}

.wrap-image{
  width: 135px;
}

.hero-picture{
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
 }

    .hero-photograf{
      width: 393px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }

    .image{
      padding-right: 12px;
      width: 135px;
      }
      
.hero-wrap-photograf{
  width: 100%;
  height: 100%;
}

  }
    
  @media screen and (min-width:1280px) {
      
      .hero-inner{
      display: flex;
      background-color: #1d1d1d;
      border-radius: 30px;
      width: 100%;
      height: 600px;
      padding: 80px 50px 0 ;
      }
      
      .hero-input{
      max-width: 563px;
      height: 204px;
      margin-bottom: 20px;
      }
      
      .hero-text{
        max-width: 563px;
        width: 563px;
        color: #FFF;
        font-size: 64px;
        font-weight: 500;
        line-height:1.06;
        letter-spacing: -0.03em;
      }
      
      .hero-text-inner{
        color: #BEA69E;
        font-size: 64px;
        font-style: italic;
        font-weight: 400;
        line-height:1.06;
        letter-spacing: -0.04em;
      }
      
      .hero-paragraf{
      width: 418px;
      }
      
      .paragraf-hero-inner{
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: -0.02em;
      }
      
      .hero-wrap{
      display: flex;
      width: 388px;
      height: 54px;
      margin-top: 136px;
      margin-bottom: 0;
      }
      
    .hero-wrapper{
      width: 220px;
    }

      .wrap-image{
      width: 135px;
      }
      
      .image{
      padding-right: 12px;
      width: 135px;
      }
      
      .wrap-div-hero{
      display: flex;
      flex-direction:column;
      max-width: 82px;
      height: 56px;
      }
      
    .hero-wrap-inner{
      flex-direction: column;
    }


      .hero-link-students{
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        line-height:1.25;
        letter-spacing: -0.04em;
      }
      
  
      .hero-block{
      display: flex;
      margin-left: 40px;
      width: unset;
      }
      
    .svg-input-block{
      width: 50px;
      height: 50px;
    }

      .hero-arrow-link{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      fill: #1d1d1d;
      background-color:   #BEA69E;
      border-radius: 100%;
      }
      
      .hero-block-input{
      padding-left: 12px;
      }
      
  
      .hero-text-wrap{
        padding-bottom: 8px;
      }
      
      .hero-text-info{
        color: rgba(255, 255, 255, 0.50);
        font-size: 16px;
        font-weight: 400;
        line-height:1.25;
        letter-spacing: -0.04em;
      }
    
      
      .paragraf-info-wrap{
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height:1.25;
        letter-spacing: -0.04em;
      }

      .hero-picture{
       margin-bottom: 0;
       margin-left: auto;
       margin-right: auto;
      }

      .hero-photograf{
        margin: 0 auto;
        width: 393;
      }
  }
  
  
