/* Mobile Menu Styles */

/* Mobile Screen */
@media screen and (min-width: 375px) and (max-width: 767.98px) {
  .header-modal-container-list {
    margin-bottom: auto;
  }

  .backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.4);
    /* opacity: 1;
    visibility: visible;
    pointer-events: none; */
    display: flex;
    /* transition: opacity 250ms, visibility 250ms; */
    justify-content: center;
    align-items: center;
  }

  .header-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 218px;
    height: 100%;
    pointer-events: none;
    background-color: #bea69e;
    /* background-image: url('../img/header-img/cam_mob.jpg'); */
    /* background-size: 218px 329px; */
    /* background-repeat: no-repeat; */
    background-position: bottom right;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    /* transform: translateX(100%);
    transition: transform 250ms; */
  }

  /* .header-modal.is-open {
    transform: translateX(0%);
  } */

  /* .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
  } */
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .no-scroll {
    overflow: hidden;
  }

  .header-image {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .header-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: #bea69e;
    border: none;
  }

  .header-modal-icon {
    stroke: #121212;
  }

  .header-modal-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .header-modal-link {
    color: #121212;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .header-modal-link:hover {
    font-weight: 700;
  }

  .header-modal-container-list {
    padding: 180px 20px 133px;
  }
}


/* @media screen and (min-width: 768px) and (max-width: 1287.98px) and (min-resolution: 192dpi) { */
/* .header-modal { */
/* background-image: url('../img/header-img/cam_mob@2x.jpg'); */
/* background-size: 218px 329px; */
/* } */
/* } */

/* Tablet Screen */
@media screen and (min-width: 768px) and (max-width: 1287.98px) {
  .backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.4);
    /* opacity: 1;
    visibility: visible;
    overflow: auto;
    pointer-events: none; */
    display: flex;
    /* transition: opacity 250ms, visibility 250ms; */
    justify-content: center;
    align-items: center;
  }

  .header-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 480px;
    height: 100%;
    background-color: #bea69e;
    /* background-image: url('../img/header-img/cam_tablet.jpg'); */
    /* background-size: 480px 476px; */
    background-repeat: no-repeat;
    background-position: bottom right;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* opacity: 1;
    visibility: visible;
    overflow: auto; */
    /* pointer-events: none;
    transform: translateX(100%);
    transition: transform 250ms; */
  }

  /* .header-modal.is-open {
    transform: translateX(0%);
  } */

  /* .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
  } */
  .header-modal-container-list {
    padding: 232px 64px 114px;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal-open {
    overflow: hidden;
  }

  .no-scroll {
    overflow: hidden;
  }

  .header-image {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .header-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 32px;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: #bea69e;
    border: none;
  }

  .header-modal-icon {
    stroke: #121212;
  }

  .header-modal-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }

  .header-modal-link {
    color: #121212;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .header-modal-link:hover {
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) and (max-width: 1287.98px) and (min-resolution: 192dpi) {
  /* .header-modal { */
  /* background-image: url('../img/header-img/cam_tablet@2x.jpg'); */
  /* background-size: 480px 476px; */
  /* } */

  .header-modal-container {
    display: flex;
    flex-direction: column;
  }
}

/* Desktop Screen */
@media screen and (min-width: 1280px) {
  .header-modal {
    display: none;
  }
}