/**
 |============================
 | Our Courses
 |============================
*/

.our-courses-section {
  display: flex;
  width: 1081px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 100px;
  margin-right: 100px;
}

.our-courses-hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 410px;
  padding-bottom: 50px;
}

.our-courses-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: -0, 04em;
}

.our-courses-span {
  color: #bea69e;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: -0, 04em;
}

.our-courses-hero-pgf {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0, 02em;
  width: 405px;
}

/* .our-courses-container {
  margin: 0;
} */

.our-courses-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* .our-courses-block {
  width: 347px;
  height: 452px;
  flex-shrink: 0;
} */

.our-courses-benefit {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 347px;
  height: 452px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}

.our-courses-number {
  display: flex;
  color: rgba(255, 255, 255, 0.4);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  justify-content: space-between;
  padding-left: 32px;
}

.our-courses-project {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 96px;
  padding-bottom: 180px;
  padding-left: 32px;
  width: 265px;
}

.our-courses-paragraf {
  color: rgba(255, 255, 255, 0.5);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
  text-align: start;
}

.our-courses-social {
  display: flex;
  position: absolute;
  top: 32px;
  gap: 237px;
}

/* .our-courses-icon {
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #1d1d1d;
  width: 20px;
  height: 20px;
} */

.our-courses-icon-container {
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #1d1d1d;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
