/**
 |============================
 | Our Courses
 |============================
*/

/* .our-courses-section {

}

.our-courses-hero {

}

.our-courses-title {

}

.our-courses-span {

}

.our-courses-hero-pgf {

}

.our-courses-container {

}

.our-courses-list {

}

.our-courses-block {

}

.our-courses-benefit {

}

.our-courses-project {

}

.our-courses-paragraf {

}

.social-list {

}

.our-courses-social {

}

.our-courses-icon {

}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 768px;
  }

  .section {
    padding: ;
  }

  @media (min-width: 320px) and (max-width: 375px) {
  .container {
    max-width: 375px;
    width: 320px;
  }

  .section {
    padding: ;
  } */