.reviews-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: -0.04em;
    margin-bottom: 50px;
}

.reviews-card-list {
    display: flex;
    gap: 20px;
}

.reviews-card-item {
    flex-basis: calc((100% - 20px) /2);
}

.reviews-card {
    padding: 20px;
    max-width: 530px;
    height: 216px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

.reviews-card-inner {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.reviews-name {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 4px;
}

.reviews-status {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.reviews-stars-list {
    display: flex;
    gap: 4px;
    margin-left: auto;
}

.reviews-stars-icon {
    fill: #BEA69E;
}

.reviews-stars-icon-accent {
    fill: #414141;
}

.reviews-text {
    color: #FFF;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    max-width: 490px;
}